<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>MPlaceholder</title>
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
<div class="ignoreit">
{% include 'partials/main.twig' %}
</div>
</body>
</html>